<% extend("../master") %>

<div class="main-content-inner">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">
                Trang chủ
            </a>
        </li>
        <li>
            <a href="/tests">
                Test
            </a>
        </li>
        <li class="active">Thêm test</li>
    </ul>
    <div class="page-content">
        <div class="page-header">
            <h1>Thêm mới Test</h1>
        </div>
        <%- include("alert"); %>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" method="POST" action="/tests">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">Tiêu đề</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name"
                                        value="<%= value.length !== 0 ? value[0].name : '' %>" placeholder="Name"
                                        class="col-xs-10 col-sm-7" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 form-actions">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">Danh mục</label>
                                <div class="col-sm-10">
                                    <select name="categoryId" class="form-control select2">
                                        <% for(let i = 0; i < categories.length; i++) { %>
                                        <% let productCategory = value.length !== 0 ? value[0].categoryId.toString() : null; %>
                                        <% let selected = ( categories[i]._id.toString() === productCategory ) ? "selected" : ""; %>
                                        <option value='<%= categories[i]._id %>' <%=selected %>>
                                            <%= categories[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">Độ khó</label>
                                <div class="col-sm-10">
                                    <input type="number" name="difficuly"
                                        value="<%= value.length !== 0 ? value[0].difficuly : '' %>" placeholder="Difficuly"
                                        class="col-xs-10 col-sm-7" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <div>
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Thêm mới
                                </button>
                                <a href="/tests" class="btn btn-warning" role="button">
                                    <i class="ace-icon fa fa-close bigger-110"></i>
                                    Hủy
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>